<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="utf-8">
    
    <title>OpenAI API Fun</title>
  </head>
  <header>
    <nav class="navbar">
      <div class="navbar-brand">
        <a  href="/">DoGPT</a>
  
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">OpenAI</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">F.A.Q.</a>
        </li>
      </ul>
    </nav>
<hr>
  </header>
  <body>
  
<button id = "gen-animal">Show me a random animal!</button>
<div id="result-animal-random"></div>
<hr>
    <h1 class="title">Find Time Complexity</h1>
    <h2 class="explanations">Paste your function and I will tell you the time complexity</h2>
    <form action="/find-complexity" method="POST">
      <div class="prompts"> <label for="function"></label></div><br>
      <br>
      <textarea name="function" id="function" rows="10" cols="50"></textarea>
      <br>
      <input id="compbutton" type="submit" value="Submit">
      <img id="loading-img3" src="../public/assets/loader.gif" class = "loader" style="display:none" alt="loading">
    </form>
    <br>
    <div id="result" class="answers"> </div>
    <hr>
    <h1 class="title">Python Code Explanation</h1>
    <h2 class="explanations">Paste your Python code, DoGPT will use openAI to try and explain the code to you! (Max 2400 chars)</h2>
    <form id="cform">
      <div class="prompts"> <label for="code"></label></div><br>
      <br>
      <textarea id="code" name="code" rows="10" cols="50"></textarea><br>
      <input id="cbutton" type="submit"></input>
      <img id="loading-img" src="../public/assets/loader.gif" class = "loader" style="display:none" alt="loading">
    </form>
    <div id="cresult" class="answers"></div>

    <hr>
    <h1 class="title">Make it Professional!</h1>
    <h2 class="explanations">Input your text, and let DoGPT do the work!, it will correct any grammar errors and spelling mistakes, as well as providing better variations of text that will sound better. The result will be broken down sentence by sentence!</h2>
    <form id="gform">
      <div class="prompts"> <label for="text"></label></div><br>
      <br>
      <textarea id="text3" name="text" rows="10" cols="50"></textarea><br>
      <input id="gbutton" type="submit"></input>
      <img id="loading-img2" class="loader" src="../public/assets/loader.gif" class = "loader" style="display:none;"alt="loading">
    </form>
    <div id="gresult" class="answers"></div>
<hr>
<h1 class="title">Generate an Image</h1>
<h2 class="explanations">Enter your text, and generate </h2>
<form id="javaform">
  <div class="prompts"> <label for="codejava"></label></div><br>
  <br>
  <textarea id="codejava" name="codejava" rows="10" cols="50"></textarea><br>
  <input id="javabutton" type="submit"></input>
  <img id="loading-imgja" class="loader" src="../public/assets/loader.gif" class = "loader" style="display:none;"alt="loading">
</form>
<div id="javaresult" class="answers"></div>
<hr>

<!-- <h1 class="title">Ask Anything</h1>
<form id="aform">
 <div class="prompts"><label for="question">Enter your question:</label></div> <br>
 <br>
  <textarea id="question" name="question" rows="2" cols="2" id="question" ></textarea><br>
  <input type="submit" id="abutton"></input>

  <img id="loading-img4" src="../public/assets/loader.gif" class = "loader" style="display:none;"alt="loading">
</form>
<div id="aresult" class="answers"></div>
<hr> -->
    <script src="../public/scripts/getcomplexity.js"></script>
    <script src="../public/scripts/explain-python.js"></script>
    <script src="../public/scripts/check-grammar.js"></script>
    <script src="../public/scripts/generate-image.js"></script>
    <script src="../public/scripts/generate-animal.js"></script>
   <!---- <script src="../public/scripts/ask-anything.js"></script>-->
    <script src="../public/scripts/misc.js"></script>
  </body>

</html>

