<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="utf-8">
    
    <title>OpenAI API Fun</title>
  </head>
  <header>
    <nav class="navbar">
      <div class="navbar-brand">
        <a  href="/">DoGPT</a>
  
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">OpenAI</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">F.A.Q.</a>
        </li>
      </ul>
    </nav>
<hr>
  </header>
  <body>
    <h1 class="title">Find Time Complexity</h1>
    <form action="/find-complexity" method="POST">
      <div class="prompts"> <label for="function">Type your Function:</label></div><br>
      <br>
      <textarea name="function" id="function" rows="10" cols="50"></textarea>
      <br>
      <input id="compbutton" type="submit" value="Submit">
      <img id="loading-img3" src="../public/assets/loader.gif" class = "loader" style="display:none" alt="loading">
    </form>
    <br>
    <div id="result" class="answers"> </div>
    <hr>
    <h1 class="title">Python Code Explanation</h1>
    <form id="cform">
      <div class="prompts"> <label for="code">Enter your Python code:</label></div><br>
      <br>
      <textarea id="code" name="code" rows="10" cols="50"></textarea><br>
      <input id="cbutton" type="submit"></input>
      <img id="loading-img" src="../public/assets/loader.gif" class = "loader" style="display:none" alt="loading">
    </form>
    <div id="cresult" class="answers"></div>

    <hr>
    <h1 class="title">Make it Professional!</h1>
    <form id="gform">
      <div class="prompts"> <label for="text">Enter your text:</label></div><br>
      <br>
      <textarea id="text3" name="text" rows="10" cols="50"></textarea><br>
      <input id="gbutton" type="submit"></input>
      <img id="loading-img2" class="loader" src="../public/assets/loader.gif" class = "loader" style="display:none;"alt="loading">
    </form>
    <div id="gresult" class="answers"></div>
<hr>
    <script src="../public/scripts/getcomplexity.js"></script>
    <script src="../public/scripts/explain-python.js"></script>
    <script src="../public/scripts/check-grammar.js"></script>
    <script src="../public/scripts/misc.js"></script>
  </body>

</html>

